{{#extend 'master' }}

  {{#content 'content' }}

    <!-- mobile -->

    <div class='page-content-mobile'>
      page content mobile
    </div>


    <!-- desktop -->

    <div class='page-content-desktop'>
      page content desktop
    </div>


  {{/content}}

{{/extend}}
