<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    404 html

    <!-- <script src="../../assets/js/errors/404.js"></script> -->

<!--    <img  src="../../assets/images/testing-image.png" />-->
</body>
</html>


