<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">

  <title>{{#block "title"}}page title{{/block}}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/static/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/static/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/static/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="../../assets/static/images/favicon/site.webmanifest">

  {{#each globalStyles }}
    <link rel='stylesheet' href='{{ this }}'>
  {{/each  }}

  {{#block "appendToHead"}}{{/block}}

</head>
<body>


{{#block "header"}}{{/block}}

{{#block "content"}}{{/block}}

{{#block "footer"}}{{/block}}

{{#block "appendToBody"}}{{/block}}

</body>
</html>
